.Weather {
  font-family: "Poppins", sans-serif;
  border: 1px solid #333;
  color: rgb(49, 49, 49);
  padding: 16px;
  margin: 38px auto;
  max-width: 600px;
  border-radius: 4.5px;
}

.Weather h1 {
  font-family: "Ubuntu", sans-serif;
  color: #50bfe6;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #1f1e1e;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(44, 44, 44);
  font-size: 16px;
  font-weight: 300;
  position: relative;
  line-height: 1.5;
  top: -34px;
  margin-left: 0px;
}

.Weather img {
  display: inline-block;
  width: 64px;
  margin-right: 10px;
  height: 64px;
}
