.Weather {
  font-family: "Poppins", sans-serif;
  border: 1px solid #333;
  color: #ffffff;
  padding: 16px;
  margin: 38px auto;
  max-width: 700px;
  background: linear-gradient(to top right, #96ff9b, #6baea5);
  border-radius: 4.5px;
}

.Weather h1 {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 15px 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  line-height: 1.5;
  top: -34px;
  margin-left: 0px;
}

.Weather canvas {
  display: inline-block;
  width: 64px;
  margin-right: 10px;
  height: 64px;
}

.Weather .button {
  position: relative;
  background-color: #50bfe6;
  margin-bottom: 12px;
  border: none;
}

.Weather .button:hover {
  background-color: #3aa6d4;
}
